html {
  scroll-behavior:smooth;
}

/* Start global */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, tahoma;
  list-style: none;
}

/* End global */

/* Start navigation bar */

nav {
  height: 125px;
  width: 100%;
  background-color: #ffffff;
  background-repeat: repeat;
  border-bottom: 1px solid #863838;
}

.logo {
  padding: 10px;
  width: auto;
  float: left;
}

.logo img {

  height: 100px;
  width: 100px;
}

.list-item {
  float: left;
  text-align: center;
  margin-right: 35px;
  
}

.list-item li {
  float: left;
  padding: 10px 10px;
  font-size: 32px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  margin-top: 30px;
}

.list-item li a {
  color: #000000;
}

.list-item li a:hover {

  color: red;
  transition: 0.3s;
}

.scorri{
  width: 100%;
  
  padding-bottom: 100px;
}

.sIcons1 {
  display: flex;
  padding-left: 800px;
  float: right;
  
  

}
.sIcons1 a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  margin-top: 25px;
}

.sIcons1 a i {
  font-size: 3em;
  color: black;
  opacity: 0.9;
  
}
.sIcons1 a:hover {
  background-color: #111;
  transition: 0.5s;
}

.sIcons1 a:hover i {
  color: white;
  transition: 0.5s;
}

/* End navigation bar */

/*starting to edit the image*/
.container{
  position: relative;
  height: 1100px;
  width: 100%;
  background: red;
  border: 1px solid #fff;
  overflow: hidden;
  border: #000000;
}
.navigator{
  
  display: flex;
  position: relative;
  bottom: 40px;
  transform: translate(43%);
   
}
.navigator .bar{
  height: 10px;
  width: 45px;
  background: #100f0f;
  cursor: pointer;
  border: 2px solid #000;
  margin-left: 8px;
  box-shadow: 2px 2px 6px #fff,-2px -2px 6px #fff;
}
.navigator .bar:hover{
  background:#fff;

}
input[type="radio"]{
  position: absolute;
  visibility: hidden;
}
.slides{
  display: flex;
  height: 100%;
  width: 500%;
}

.image{
  width: 20%;
  transition: 0.4s;
}

img{
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 150px; /* Updated font size to 32px */
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}


#btn1:checked ~ .first{
  margin-left: 0;
}
#btn2:checked ~ .first{
  margin-left: -20%;
}
#btn3:checked ~ .first{
  margin-left: -40%;
}
#btn4:checked ~ .first{
  margin-left: -60%;
}
#btn5:checked ~ .first{
  margin-left: -80%;
}










/*ending the image*/

/*Start Specialta*/


h1{
  padding-top: 60px;
  font-size: 45px;
  color: red;
  text-align: center;

}
.img_s{
max-width: 550px;
float: right;
border: 3px solid #000;
border-radius: 10px;
margin-right: 15px;
}

.wrapper{
  margin: 150px auto;
  width: 70%;
}
.text-box{
  color: #000;
}
.text-box h1{
  font-size: 45px;
}
.text-box h2{
  font-size: 35px;
}
.text-box p{
  font-size: 26px;
}




/*end Specialta*/

/* Start footer for big screen */

footer {
  background-color: #111;
  position: relative;
  width: 100%;
}

.cFooter {
  width: 100%;
  padding: 70px 30px 20px; 
}

.sIcons {
  display: flex;
  justify-content: center;
}

.sIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.sIcons a i {
  font-size: 3em;
  color: black;
  opacity: 0.9;
}

.sIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.sIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin-left: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;  
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.6em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerB {
  background-color: #000;
  padding: 20px ;
  text-align: center;
  
  
  
}
.footerB p {
  color:white;
}

.designer {
  color: #EEE;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* Start nav bar for small screens */

.icon {
  display: none;
}

.toggle {
  align-items: center;
  float: right;
  margin: 20px;
  color: #000000;
  font-size: 40px;
  border: 1px solid #000000;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

/* End nav bar for small screens */

/* Start media query */

@media only screen and (max-width: 1100px) {
  .icon {
    display: block;
    width: 100%;
    height: 80px;
    float: CENTER;
  }
  .list-item {
    display: none;
    
  }
  .container {
    width: 100%;
    height: 500px;
  }
  .overlay-text {
    font-size: 70px;
  }

}
